
.card-footer{
  padding: 0;

}

.card{
  margin-bottom: 30px;

}

.btn{
  border-radius: 0;
  border: none;
 
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}