<div *ngIf="product.name" class="card" style="width: 20rem;">
  <img *ngIf="product.image" class="card-img-top" [src]="product.image" alt="{{product.name}}">
  <div class="card-body">
    <h4 class="card-name">{{product.name}}</h4>
    <p class="card-text">{{product.price|currency:'USD'}}</p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button 
    *ngIf="getQuantity()==0 ; else updateQuantity"
    class="btn btn-secondary btn-block" (click)="addProductToCart()">
      Add to Cart</button>
      <ng-template #updateQuantity>
        <div class="row no-gutters">
          <div class ="col-2">
            <button (click)="removeProductFromCart()" class= "btn btn-secondary btn-block">-</button>
          </div>
          <div class="col text-center">
            {{ getQuantity() }} in cart
          </div>
          <div class ="col-2">
            <button (click)="addProductToCart()" class="btn btn-secondary btn-block">+</button>
          </div>
      </div>
   
      </ng-template>

      
  </div>
</div>
