<div class="box" *ngIf="product">
  <form [formGroup]="productForm" (ngSubmit)="update()">

    <h2> Edit Product </h2>

    <label> Name : </label>
    <input type="text" [formControl]="nameInput">

    <label> Price:</label>
    <input type="number" step="0.6" min="0" max="1000" [formControl]="priceInput">


    <input type="text" [formControl]="categoryInputName">
    <label for="category">Category</label>
    <select class="form-control" name="categoryId" required>
      <option disabled selected>{{product.categoryId.name}}</option>
      <option *ngFor="let c of this.categories" [value]="c._id">{{c.name}}</option>
    </select>


    <label> Image : </label>
    <input type="file" [formControl]="imageInput" #imageBox>

    <button>Update</button>
  </form>

</div>
<!-- <div class="col-md-6">
  <div class="card" style="width: 18rem;">
    <img src={{product.image}} class="card-img-top" #imageBox>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.price | currency:"USD" : true}}</p>

    </div>
  </div>
</div> -->
