<!-- <div> -->
  <!-- <ng-container *ngIf="!user">
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Signup</a>
  </ng-container> -->
  <!-- <ng-container *ngIf="!user">
    <div>Hello gest</div>
  </ng-container>

  <ng-container *ngIf="user">
    <span>Hello {{user.firstName}} {{user.lastName}}</span>
    <span *ngIf="user.isAdmin">ADMIN</span>
  </ng-container>
  <span>
    <a routerLink="/logout" routerLinkActive="active" *ngIf="user">Logout</a>
  </span> -->
  <!-- if is admin -->
  <!-- <ng-container> <a routerLink="/admin" routerLinkActive="active" *ngIf="user.isAdmin">BLA BLA</a>
  </ng-container> -->
<!--
</div> -->
