<div class="box" *ngIf="product">
  <!--*ngIf to avoid display product before we have it-->
  <h3>name : {{product.name}}</h3>
  <br>
  <h3>price : {{product.price}}</h3>
  <br>

  <h3>category : {{product.categoryId.name}}</h3>

  <!-- <img [src]="product.image" alt="product image"> -->
  <img [src]=" product.image" />
  <br>
  <a routerLink="/store">Back to store</a>
  <span> | </span>
  <a routerLink="/products/edit/{{product._id}}">Edit</a>
  <span> | </span>
  <a href="javascript:void(0)" (click)="deleteProduct()">Delete</a>

</div>
